/* Font */
@font-face {
    font-family: 'rwcRegular';
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.eot');
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.woff2') format('woff2'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.woff') format('woff'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.ttf') format('truetype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.svg#rwc_regularregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'rwcBold';
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.eot');
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.woff2') format('woff2'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.woff') format('woff'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.ttf') format('truetype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.svg#rwc_boldregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'rwcHeavy';
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.eot');
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.woff2') format('woff2'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.woff') format('woff'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.ttf') format('truetype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.svg#rwc_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal
}

/* Global */
body {
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

/* Lightbox Layout */
.stacklapopup-video-wrapper,
.stacklapopup-image-wrapper {
    background: transparent !important;
}
.stacklapopup-wrap div.stacklapopup-image-wrapper,
.stacklapopup-wrap div.stacklapopup-video-wrapper {
    padding: 0;
}
.stacklapopup-wrap .stacklapopup-panel-left {
    float: right;
    padding-right: 0;
    padding-left: 350px;
    background: #fff;
}
.stacklapopup-wrap .stacklapopup-content-wrap.text .stacklapopup-panel-left {
    display: none;
}
.stacklapopup-wrap .stacklapopup-content-wrap.text .stacklapopup-panel-right {
    width: 100%;
}
.stacklapopup-wrap .stacklapopup-horizontal div.stacklapopup-panel-right {
    background: #fff;
    color: #000;
    font-size: 13px;
    right: auto;
    left: 0;
    line-height: 1.4;
    width: 350px;
    z-index: 2000;
}
.stacklapopup-wrap .stacklapopup-image-wrapper-inner:before,
.stacklapopup-wrap .stacklapopup-video-wrapper-inner:before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* Close Button */
.stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close {
    background: #ea2f75;
    box-shadow: none;
    color: #fff !important;
    top: 2px;
    right: 2px;
    z-index: 1002;
    width: 35px;
    height: 35px;
    font-size: 20px;
}
.stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close:active,
.stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close:hover {
    color: #fff !important;
}

/* Info */
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-user-info,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-source,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-interaction-wrapper,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-twitter-intent,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-caption {
    background: transparent;
}

/* User */
.stacklapopup-wrap .facebook .stacklapopup-user-top {
    font-family: rwcBold;
    font-size: 15px;
    padding: 12px;
}
.stacklapopup-wrap .stacklapopup-avatar {
    background: none !important;
}
.stacklapopup-wrap .stacklapopup-avatar img {
    border-radius: 50%;
}
.stacklapopup-wrap .stacklapopup-user-handle {
    font-size: 12px;
}
.stacklapopup-wrap .stacklapopup-user-name {
    font-family: 'rwcBold';
    font-size: 14px;
    text-transform: uppercase;
}

/* Caption */
.stacklapopup-wrap .stacklapopup-caption a:link,
.stacklapopup-wrap .stacklapopup-caption a:visited {
    color: #eb3176;
}
.stacklapopup-wrap .stacklapopup-caption {
    margin-bottom: 20px;
}
.stacklapopup-wrap .stacklapopup-caption p {
    color: #898985;
    font-size: 13px;
}
/* Source */
.stacklapopup-wrap .stacklapopup-timestamp {
    display: inline-block;
    height: auto;
    overflow: hidden;
    padding-top: 7px;
}
.stacklapopup-wrap .instagram .stacklapopup-timestamp {
    text-indent: -74px;
}
.stacklapopup-wrap .facebook .stacklapopup-timestamp {
    text-indent: -70px;
}
.stacklapopup-wrap .twitter .stacklapopup-timestamp {
    text-indent: -58px;
}
.stacklapopup-wrap .stacklapopup-horizontal.video .stacklapopup-interactions-wrapper,
.stacklapopup-wrap .stacklapopup-horizontal.video .stacklapopup-source-wrapper {
    border: none;
}
.stacklapopup-wrap .stacklapopup-horizontal.image .stacklapopup-source-wrapper {
    background: transparent;
    border-top: none;
    display: inline-block;
    position: relative;
}

/* Twitter Intent */
.stacklapopup-wrap .stacklapopup-twitter-intent-wrapper {
    text-align: right;
    float: right;
    padding: 15px 0 10px 0;
}
.stacklapopup-wrap .stacklapopup-twitter-intent {
    display: inline-block;
    padding: 0 10px;
    width: 150px;
}

/* Share */
.stacklapopup-wrap .stacklapopup-interactions li {
    width: 30px;
    overflow: hidden;
}
.stacklapopup-wrap .stacklapopup-interactions li a {
    background: transparent !important;
    opacity: 0.7;
    transition: opacity .5s;
}
.stacklapopup-wrap .stacklapopup-interactions li a:hover {
    opacity: 1;
}
.stacklapopup-wrap .stacklapopup-share-list,
.stacklapopup-wrap .stacklapopup-horizontal.image .stacklapopup-interactions-wrapper,
.stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-interactions-wrapper {
    background: transparent;
    border: none;
}
.stacklapopup-wrap .stacklapopup-share-list {
    border-top: 1px solid #eee;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.stacklapopup-wrap .stacklapopup-share-list a:active {
    box-shadow: none;
}
.stacklapopup-wrap .stacklapopup-interaction-wrapper {
    margin-top: 30px;
}
.stacklapopup-wrap .stacklapopup-sharing {
    float: none;
}
.stacklapopup-wrap .stacklapopup-interactions:before {
    display: block;
    content: '';
    clear: both;
}
.stacklapopup-wrap .stacklapopup-sharing a {
    height: auto;
    line-height: 1;
    width: auto;
}
.stacklapopup-wrap a.stacklapopup-share-button {
    border: none;
    color: #898985;
    display: block;
    font-size: 13px;
    padding-left: 10px;
    text-transform: uppercase;
}
.stacklapopup-wrap a.stacklapopup-share-button .stacklapopup-shareicon.share {
    display: none;
}
.stacklapopup-wrap .stacklapopup-shareicon {
    background: none;
    color: #b1b1b1;
    font-family: 'fontstackla';
    font-size: 20px;
    width: auto;
    height: auto;
}
.stacklapopup-wrap .stacklapopup-shareicon.facebook:before {
    content: '\f09a';
}
.stacklapopup-wrap .stacklapopup-shareicon.twitter:before {
    content: '\f099';
}
.stacklapopup-wrap .stacklapopup-shareicon.pinterest:before {
    content: '\f231';
}
.stacklapopup-wrap .stacklapopup-shareicon.gplus:before {
    content: '\f0d5';
}
.stacklapopup-wrap .stacklapopup-shareicon.email:before {
    content: '\f0e0';
}
.stacklapopup-wrap .stacklapopup-source-wrapper {
    float: left;
}
.stacklapopup-wrap .stacklapopup-source-wrapper:after {
    clear: both;
    content: '';
    display: block;
}
.stacklapopup-wrap .stacklapopup-source {
    padding: 10px 20px;
}
.stacklapopup-wrap .stacklapopup-source a:hover {
    text-decoration: none;
}
.stacklapopup-wrap .stacklapopup-source div.stacklapopup-social-source {
    float: none;
}
.stacklapopup-wrap .stacklapopup-social-source {
    background: none;
    display: inline;
    float: none;
    font-family: 'fontstackla';
    font-size: 18px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.stacklapopup-wrap .stacklapopup-social-source.twitter:before {
    content: '\f099';
    color: #1daced;
}
.stacklapopup-wrap .stacklapopup-social-source.facebook:before {
    content: '\f09a';
    color: #355695;
}
.stacklapopup-wrap .stacklapopup-social-source.instagram:before {
    content: '\f16d';
    color: #355695;
}
.stacklapopup-wrap .stacklapopup-social-source.flickr:before {
    content: '\f16e';
}
.stacklapopup-wrap .stacklapopup-video.square {
    padding-top: 56.25%;
}
@media screen and (max-width: 644px) {
    .stacklapopup-wrap .stacklapopup-horizontal div.stacklapopup-panel-right,
    .stacklapopup-wrap .stacklapopup-horizontal div.stacklapopup-panel-left {
        background: transparent;
    }
    /* Button */
    .stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close {
        background: rgba(234,47,117,0.6);
        color: #fff !important;
        font-size: 18px;
        top: 40px;
        right: auto;
        width: 50px;
        height: auto;
    }
    .stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close:hover {
        color: #fff;
    }
    .stacklapopup-wrap .stacklapopup-avatar {
        margin-right: 15px;
    }
    .stacklapopup-wrap .stacklapopup-caption {
        padding: 10px;
        margin-bottom: 0;
    }
    .stacklapopup-wrap .stacklapopup-caption a {
        font-weight: bold;
        text-transform: none;
    }
    .stacklapopup-wrap .stacklapopup-caption p {
        color: #fff;
        font-size: 18px;
        line-height: 1.3;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
    }
    .stacklapopup-wrap .stacklapopup-user-info {
        padding: 10px;
    }
    .stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close:hover {
        color: #ea2f75 !important;
    }
    .stacklapopup-wrap .stacklapopup-panel-left {
        float: none;
        padding-left: 0;
        padding-right: 0 !important;
        min-height: 0 !important;
    }
    .stacklapopup-wrap .stacklapopup-panel-left.stacklapopup-panel-left-hover {
        z-index: 0;
    }
    .stacklapopup-mobile .stacklapopup-content-wrap {
        margin: 0;
    }
    .stacklapopup-wrap .stacklapopup-panel-right,
    .stacklapopup-wrap .stacklapopup-panel-left {
        width: 100% !important;
    }
    .stacklapopup-wrap .stacklapopup-share-list {
        max-height: none;
    }
    .stacklapopup-wrap .stacklapopup-share-list li {
        display: inline-block;
    }
    .stacklapopup-wrap .stacklapopup-interactions li,
    .stacklapopup-wrap .stacklapopup-shareicon {
       float: none;
    }
    .stacklapopup-wrap .stacklapopup-twitter-intent-wrapper  {
         text-align: left;
    }
    .stacklapopup-wrap .stacklapopup-source {
        padding: 0;
    }
    .stacklapopup-wrap .stacklapopup-horizontal.image .stacklapopup-source-wrapper {
        position: absolute;
        right: 5px;
        top: 10px;
        z-index: 1;
    }
    .stacklapopup-wrap .stacklapopup-timestamp {
        display: none;
    }
    .stacklapopup-wrap .stacklapopup-sharing {
        height: 68px !important;
    }
    .stacklapopup-wrap .stacklapopup-interactions {
        padding: 9px 15px;
    }
    .stacklapopup-wrap a.stacklapopup-share-button {
        font-family: 'rwcRegular';
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        pointer-events: none;
    }
}
/* Zoomed */
.stacklapopup-wrap .stacklapopup-zoomed .stacklapopup-panel-left {
    background: transparent;
    padding-left: 0;
}
.stacklapopup-wrap .stacklapopup-zoomed .stacklapopup-horizontal div.stacklapopup-panel-right {
    width: auto;
    display: none;
}
@media(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .stacklapopup-wrap .stacklapopup-social-source.twitter {
        background-position: 5px -39px;
        background-size: 300%;
    }
    .stacklapopup-wrap .stacklapopup-social-source.facebook {
        background-position: 5px 4px;
        background-size: 300%;
    }
    .stacklapopup-wrap .stacklapopup-social-source.instagram {
        background-position: -1px -1px;
        background-size: 250%;
    }
    .stacklapopup-wrap .stacklapopup-social-source.flickr {
        background-position: -41px -1px;
        background-size: 250%;
    }
}

