/* Font */
@font-face {
    font-family: 'rwcRegular';
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.eot');
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.woff2') format('woff2'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.woff') format('woff'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.ttf') format('truetype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-regular-webfont.svg#rwc_regularregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'rwcBold';
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.eot');
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.woff2') format('woff2'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.woff') format('woff'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.ttf') format('truetype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-bold-webfont.svg#rwc_boldregular') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'rwcHeavy';
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.eot');
    src: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.woff2') format('woff2'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.woff') format('woff'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.ttf') format('truetype'),
         url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/fonts/rwc-heavy-webfont.svg#rwc_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal
}

/* Global */
body {
    font-family: 'rwcRegular', 'Open Sans', serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
}

/* Lightbox Layout */
.stacklapopup-image-wrapper {
    background: transparent !important;
}
.stacklapopup-wrap div.stacklapopup-image-wrapper,
.stacklapopup-wrap div.stacklapopup-video-wrapper {
    padding: 0;
}
.stacklapopup-wrap .stacklapopup-panel-left {
    float: right;
    padding-right: 0;
    padding-left: 350px;
    background: #000;
}
.stacklapopup-wrap .stacklapopup-horizontal.image div.stacklapopup-panel-right {
    background: #000;
    color: #fff;
    font-size: 13px;
    right: auto;
    left: 0;
    line-height: 1.4;
    width: 350px;
    z-index: 2000;
}

/* Close Button */
.stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close {
    background: #ea2f75;
    box-shadow: none;
    color: #fff !important;
    top: 10px;
    right: 10px;
    z-index: 1002;
    width: 35px;
    height: 35px;
    font-size: 20px;
}
.stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close:active,
.stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close:hover {
    color: #fff !important;
}

/* Info */
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-user-info,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-source,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-interaction-wrapper,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-twitter-intent,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-caption {
    background: transparent;
    color: #fff;
}
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-user-info a:link,
.stacklapopup-content .stacklapopup-panel-right .stacklapopup-user-info a:visited {
    color: #fff;
}

/* User */
.stacklapopup-wrap .facebook .stacklapopup-user-top {
    padding: 12px;
}
.stacklapopup-wrap .stacklapopup-user-info {
    font-family: 'rwcRegular';
}
.stacklapopup-wrap .stacklapopup-avatar {
    background: none !important;
}
.stacklapopup-wrap .stacklapopup-avatar img {
    border-radius: 50%;
}
.stacklapopup-wrap .stacklapopup-user-handle {
    font-size: 12px;
}
.stacklapopup-wrap .stacklapopup-user-name {
    font-family: 'rwcRegular';
    font-size: 14px;
    text-transform: uppercase;
}

/* Title */
.stacklapopup-wrap .stacklapopup-html-wrapper,
.stacklapopup-wrap .stacklapopup-html,
.stacklapopup-wrap .stacklapopup-title {
    background: transparent;
    color: #fff;
}

/* Caption */
.stacklapopup-wrap .stacklapopup-caption a:link,
.stacklapopup-wrap .stacklapopup-caption a:visited {
    color: #fff;
}
.stacklapopup-wrap .stacklapopup-caption {
    margin-bottom: 20px;
}
.stacklapopup-wrap .stacklapopup-caption p {
    color: #ccc;
    font-size: 13px;
    line-height: 1.7;
}
.stacklapopup-wrap .stacklapopup-caption p a {
    font-family: 'rwcBold';
}

/* Source */
.stacklapopup-wrap .stacklapopup-timestamp {
    display: block;
    height: auto;
    overflow: hidden;
    padding-top: 7px;
}
.stacklapopup-wrap .instagram .stacklapopup-timestamp {
    text-indent: -74px;
}
.stacklapopup-wrap .facebook .stacklapopup-timestamp {
    text-indent: -70px;
}
.stacklapopup-wrap .twitter .stacklapopup-timestamp {
    text-indent: -58px;
}
.stacklapopup-wrap .stacklapopup-horizontal.image .stacklapopup-source-wrapper {
    background: transparent;
    border-top: none;
    display: inline-block;
    position: relative;
    top: -30px;
}

/* Twitter Intent */
.stacklapopup-wrap .stacklapopup-twitter-intent-wrapper {
    background: #000;
    text-align: right;
}
.stacklapopup-wrap .stacklapopup-twitter-intent {
    display: inline-block;
    padding: 0 10px;
    width: 150px;
}

/* Share */
.stacklapopup-wrap .stacklapopup-interactions li {
    width: 30px;
    overflow: hidden;
}
.stacklapopup-wrap .stacklapopup-interactions li a {
    background: transparent !important;
    opacity: 0.7;
    transition: opacity .5s;
}
.stacklapopup-wrap .stacklapopup-interactions li a:hover {
    opacity: 1;
}
.stacklapopup-wrap .stacklapopup-share-list,
.stacklapopup-wrap .stacklapopup-horizontal.image .stacklapopup-interactions-wrapper,
.stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-interactions-wrapper {
    background: transparent;
    border: none;
}
.stacklapopup-wrap .stacklapopup-interaction-wrapper {
    margin-top: 30px;
}
.stacklapopup-wrap a.stacklapopup-share-button {
    border: none;
    color: #fff;
    display: block;
    padding-left: 10px;
    text-transform: uppercase;
}
.stacklapopup-wrap a.stacklapopup-share-button .stacklapopup-shareicon.share {
    display: none;
}
.stacklapopup-wrap .stacklapopup-social-source {
    border-radius: 50%;
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    width: 28px;
}
.stacklapopup-wrap .stacklapopup-social-source.twitter {
    background-position: -34px -54px;
    background-color: #1daced;
}
.stacklapopup-wrap .stacklapopup-social-source.facebook {
    background-position: -34px 6px;
    background-color: #355695;
}
.stacklapopup-wrap .stacklapopup-social-source.instagram {
    background-image: url('https://stackla-web-assets.s3.amazonaws.com/rugbyworldcup2015.stackla.com/media/images/socials-logos.png');
}
.stacklapopup-wrap .stacklapopup-social-source.instagram {
    background-position: 0px 0px;
}
.stacklapopup-wrap .stacklapopup-social-source.flickr {
    background-position: -32px 0px;
}

.stacklapopup-wrap .stacklapopup-source {
    padding: 5px 15px;
}

@media screen and (max-width: 644px) {
    /* Button */
    .stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close {
        background: rgba(234,47,117,0.6);
        color: #fff !important;
        font-size: 18px;
        top: 40px;
        right: auto;
        width: 50px;
        height: auto;
    }
    .stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close:hover {
        color: #fff;
    }
    .stacklapopup-wrap .stacklapopup-avatar {
        margin-right: 15px;
    }
    .stacklapopup-wrap .stacklapopup-caption {
        padding: 10px;
        margin-bottom: 0;
    }
    .stacklapopup-wrap .stacklapopup-caption a {
        font-weight: bold;
        text-transform: none;
    }
    .stacklapopup-wrap .stacklapopup-caption p {
        font-family: 'rwcRegular';
        color: #fff;
        font-size: 18px;
        line-height: 1.3;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
    }
    .stacklapopup-wrap .stacklapopup-user-info {
        padding: 10px;
    }
    .stacklapopup-wrap .stacklapopup-horizontal .stacklapopup-close:hover {
        color: #ea2f75 !important;
    }
    .stacklapopup-wrap .stacklapopup-panel-left {
        float: none;
        padding-left: 0;
        padding-right: 0 !important;
        min-height: 0 !important;
    }
    .stacklapopup-wrap .stacklapopup-panel-left.stacklapopup-panel-left-hover {
        z-index: 0;
    }
    .stacklapopup-mobile .stacklapopup-content-wrap {
        margin: 0;
    }
    .stacklapopup-wrap .stacklapopup-panel-right,
    .stacklapopup-wrap .stacklapopup-panel-left {
        width: 100% !important;
    }
    .stacklapopup-wrap .stacklapopup-share-list {
        max-height: none;
    }
    .stacklapopup-wrap .stacklapopup-share-list li {
        float: left;
    }
    .stacklapopup-wrap .stacklapopup-twitter-intent-wrapper  {
         text-align: left;
    }
    .stacklapopup-wrap .stacklapopup-source {
        padding: 0;
    }
    .stacklapopup-wrap .stacklapopup-horizontal.image .stacklapopup-source-wrapper {
        position: absolute;
        right: 5px;
        top: 10px;
        z-index: 1;
    }
    .stacklapopup-wrap .stacklapopup-timestamp {
        display: none;
    }
    .stacklapopup-wrap .stacklapopup-sharing {
        height: 68px !important;
    }
    .stacklapopup-wrap .stacklapopup-interactions-wrapper {
        padding: 5px;
    }
    .stacklapopup-wrap a.stacklapopup-share-button {
        font-family: 'rwcRegular';
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        pointer-events: none;
    }
}
@media(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .stacklapopup-wrap .stacklapopup-social-source.twitter {
        background-position: 5px -39px;
        background-size: 300%;
    }
    .stacklapopup-wrap .stacklapopup-social-source.facebook {
        background-position: 5px 4px;
        background-size: 300%;
    }
    .stacklapopup-wrap .stacklapopup-social-source.instagram {
        background-position: -1px -1px;
        background-size: 250%;
    }
    .stacklapopup-wrap .stacklapopup-social-source.flickr {
        background-position: -41px -1px;
        background-size: 250%;
    }
}
